* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-control {
  height: 52px;
  padding: 0 1rem;
}

.btn {
  height: 52px;
  font-weight: 600;
  line-height: 50px;
  padding: 0 4rem;
}

svg {
  margin-top: -4px;
}