.wallpaper {
  border-radius: 20px;
}
.actBtns button {
  height: 42px;
  line-height: 40px;
  padding: 0 2rem;
}

.actBtns a {
  height: 42px;
  line-height: 40px;
  padding: 0 2rem;
}

.actBtnsTable button {
  height: 42px;
  line-height: 40px;
  padding: 0 1rem;
}

.actBtnsTable a {
  height: 42px;
  line-height: 40px;
  padding: 0 1rem;
}